
body {
    background-color: gray; 

}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    color:rgb(255, 255, 255);
    size:32px;
}

h2 {
  color: antiquewhite;  
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p {
    font-family: "Pixelify Sans", sans-serif;
}

a {
    text-decoration: none;
    color:antiquewhite;
}


/* separação entre gerais para classes e ids */


.topPage { 
    text-align: center;
    margin: -8px;
    background-color: black;
    padding: 15px;
    padding-bottom: 30px;
}

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


 #gold {
    font-family: "Pixelify Sans", sans-serif;
    color: gold;
    border: solid, gold;
    background-color: rgba(255, 217, 0, 0.6);
    }


.menu {
    list-style: none;
    margin: -8px;
    padding: 2px;
    padding-bottom: 10px;
    background-color: #1e1f22;
    display: flex;
    justify-content: center;
   
    }

    .menu li {
    font-family: "Pixelify Sans", sans-serif;
    margin: -8px;
    margin-top: 10px;
    padding-bottom: 9px;
    padding-right: 55px;
    background-color: #1e1f22;

    }
    .menu li img {
        display: none;
     }

    /* 
       A CONSERTAR: Fazer com que a imagem apareca do "meio da imagem" até seu lado direito ( saindo do invisível até o vísivel no final da animação ) ||  AS IMAGENS ESTÃO INVISIVEIS NO MOMENTO ||
     li img {
        position: absolute;
         width: 20px;
         transition: all 2s ease-in 200ms;
         left: 100%;

     } 

      .menu li a:hover img {

         animation: lado 2s ease-out forwards;
    } 

    @keyframes lado { 
        from { 
          transform:   translateX(-20px) scale(0.5);
          opacity: 0;
            
        }
        to {

            transform: translateX(0px) scale(1) ;
            opacity: 1;
        }
        
     }
         */

    .menu li a {
        display: inline-block;
      transition: all 4s cubic-bezier(0.075, 0.82, 0.165, 1);

    }
     .menu li a:hover {
  
      text-decoration: underline;
      transform: scale(1.5);
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 30px;
      padding-bottom: 30px;

    }

    .menu a:hover { 
        color: rgb(255, 164, 46);
    
    }

.nomes ol {

    padding: 0;
}

    .nomes li {
        text-align: center;
        padding-left: 40px;

        padding-top: 10px;
        margin-top: 50px;

        display: inline-block;
        background-color: white;
        border: 5px solid white;
        border-radius: 10px;
        color: black;
        padding-right: 40px;
        margin-left: 30px;

        transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);


    }
     li{

     padding-right: 30px;
    }

   /* .nomes:hover li {

        opacity: 0.4;
    }
        */

    .nomes li:hover{

        transform: scale(1.2);
        padding-left: 30px;
        padding-right: 30px;
        text-decoration: underline;
        background-color: black;
        border: solid black;
        border-radius: 10px;
        color: white;
        border-radius: 10px;
        cursor: pointer;
       /* opacity: 1; */
    }
 
    .nomes {
       margin-left: 30px;
       /* opacity: 1; */
     font-size: 35px;
     position: absolute;
     top: 25%;
     left: 50%;
     transform: translate(-50%, -40%);   
     border-radius: 10px;
     font-family: Arial, Helvetica, sans-serif;
     text-decoration: none;
     text-align: center;
 }

 #P {

    text-align: justify;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40%;
    padding-right: 40%;
    border: #1e1f22 solid;
    border-radius: 10px;
    background-color: #1e1f22;


 }
 .mestres {
       
     color: antiquewhite;  
     font-family: "Pixelify Sans", sans-serif; 
     font-size: 15px;
     padding-top: 15px;
     padding-bottom: 10px;
     padding-right: 15px;
     background-color: rgb(71, 27, 27);
     border-radius: 10px;


      
 }

 .comosetornarmestre a {

    display: inline-block;  
    color: #041a5a;
    text-decoration: underline;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
     

 }
 .comosetornarmestre a:hover {

    color: #303e66;
    transform: scale(1.3) translateX(100px);
    padding-top: 20px;
    padding-bottom: 20px;

 
 }


  .prolado {
   
    padding-left: 15px;
    padding-right: 10px;
     
  }
